@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;600&family=Nabla&display=swap');

:root{
    /* background colors variants */
    --bg-dark: #161a1e;
    --bg-light: #F9F9F9;

    --input-text-color: #545454;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* overiding all the fontstyling in the webpage */
    font-family: 'Laila', sans-serif;

    background-color: var(--bg-dark);
}

header{
    margin-top: 24px;

    display: flex;
    justify-content: center;

    gap: 2rem;

    width: 100%;

    /* border: 2px solid salmon; */
}

header h1 {
    font-family: 'Nabla', cursive;
    color: #262626;
    font-size: 4rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 2rem; */

    width: 320px;
    height: 600px;
    padding: 18px;

    border: .15rem solid salmon;
    border-radius: 18px;
}

.icons {
    margin-left: 235px;
    margin-top: -64px;
    margin-bottom: 12px;

    width: auto;

    scale: .7;

    color: var(--bg-light);
    fill: var(--bg-light);

    cursor: pointer;
}

.icons:hover {
   scale: .8;

   /* background-color: var(--bg-light); */
}

.settings :first-child {
    /* margin-top: 11px; */
}

/* #btn-black {
    background-color: var(--bg-primary);
    color: aliceblue;
    border: .1rem dashed aliceblue;
} */

button {
    width: 128px;
    height: 40px;
    font-size: .9rem;

    align-self: center;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: ease-in-out .2s;
}

button:hover {
    scale: 1.1;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,.39);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,.39);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,.39);
}


.settings form  {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.settings form label, .settings form p {
    color: aliceblue;
    font-size: 1.15rem;
}

#slider-user-input{
    text-align: center;
    color: white;
    margin-top: 8px;
    width: 210px;
    align-self: center;

    cursor: pointer;

    transition: ease-in-out .2s;
}
#slider-user-input:hover{
    scale: 1.1;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,.39);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,.39);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,.39);
}

#dis-user-input {
    align-self: center;
    font-size: 15px;
}

.draw-board {
    display: grid;

    width: 600px;
    height: 600px;
    /* background-color: aliceblue; */
    background-color: aliceblue;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1);
}

.pixel-div {
    border: 1px solid salmon;
}

footer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    /* border: 2px solid salmon; */
}

footer p:last-child {
    font-size: 12px;
    /* border: 2px dashed slateblue; */
}

footer, footer a {
    color: aliceblue;
}

footer a {
    font-weight: 600;
}